extends ../layout/layout-web

block content
	include ../partials/header-web
	<!-- 갤러리 -->
	.wrapper
		.gbox_gallery
			.dp_title
				strong 최신 DolPic
			for image in imageList
				- var classType = (image.urlType == 1 ? 'gbox_thumb g_t_twitter' : 'gbox_thumb g_t_instagram')
				//- var hashtag = (image.urlType == 1 ? image.HashTagId.twitterHashTag : image.HashTagId.instagramHashTag)
				.gbox(style='background:url(' + image.url + ') center center no-repeat;background-size:cover'
				data-imageid=image._id data-hashtagid=image.hashTagId data-hashtag=image.hashTagId.twitterHashTag
				data-page=page)
					.div(class=classType)
						.gbox_t_title: | @#{image.hashTagId.twitterHashTag}
						.gbox_t_text
							img(src='/images/icon_like.png' height='9' alt='like')
							| #{image.likeCount}
			.clear
			include ../partials/paging-web
			<!-- 구글 광고 -->
			include ../partials/googleBanner-web-1
		.gbox_side
			include ../partials/hotDolpic
			<!-- 구글 광고 -->
			include ../partials/googleBanner-web-2
			<!-- 공지사항 -->
			include ../partials/twitter-web
		.clear
	<!-- 하단 리스트 -->
	.dolpic_warp
		include ../partials/initialsList
		.clear
		include ../partials/footer