extends ../../layout/layout-mobile

block content
	include ../../partials/header-mobile
	include ../../partials/searchBar
	<!-- 갤러리 -->
	.dp_title
		strong= hashTag
		span.tbox(data-hashtagid=hashTagId) 구독 신청
	.wrapper
		.gbox_gallery
		for image in imageList
			.gbox(style='background:url(' + image.url + ') center center no-repeat;background-size:cover'
			data-imageid=image._id data-hashtagid=image.hashTagId._id data-hashtag=hashTag data-page=page)
		.clear
		include ../../partials/paging-web
		.clear
	.gbox_side
		include ../../partials/hotDolpic
		<!-- 구글 광고 -->
		include ../../partials/googleBanner-mobile
	.clear
	<!-- 하단 리스트 -->
	.dolpic_warp
		include ../../partials/initialsList
		.clear
		include ../../partials/footer